# .env
# .env.*
!.env.example
.git
.gitignore
.gitattributes
README.md
CONTRIBUTING.md
LICENSE
.vscode
.idea
.DS_Store
node_modules
.node_modules
.nuxt
.output
.nitro
.cache
dist
logs
*.log
*.db
*.db-journal
coverage
.nyc_output
docker-compose.yml
docker-compose.*.yml
*.md
docs
test
tests
__tests__
*.test.ts
*.spec.ts
sonar-project.properties
.gitlab-ci.yml
.git
